<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      오버매치 관리자 페이지
    </title>

    <link rel="stylesheet" href="<%= css %>">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="admin">
    <admin></admin>

    <script src="<%= javascript %>"></script>
  </body>
</html>
