<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="오버워치 파티구함">

    <meta property="og:type" content="website">
    <meta property="og:title" content="오버매치">
    <meta property="og:url" content="http://overmatch.co.kr">
    <meta property="og:description" content="오버워치 파티매칭 시스템">
    <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/overmatch-dtfu90ku/images/logo.png">

    <link rel="canonical" href="http://overmatch.co.kr">

    <title>
      오버매치
    </title>

    <link rel="stylesheet" href="<%= css %>">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="overmatch">
    <overmatch></overmatch>

    <script src="<%= javascript %>"></script>
  </body>
</html>
