<div class="settings" ng-init="active = false" ng-class="{ active: active == true }">
  <i class="fa fa-cog" ng-click="active = true"></i>
  <i class="fa fa-times" ng-click="active = false"></i>
  <div>
    <div>
      <div class="row">
        <div class="column_12">
          <div class="text">
            표시할 전적
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column_12">
          <button class="button" ng-click="settings.stat_by = 'quick_play'" ng-class="{ 'blue': settings.stat_by == 'quick_play' }">
            빠대전적
          </button>
          <button class="button" ng-click="settings.stat_by = 'competitive_play'" ng-class="{ 'purple': settings.stat_by == 'competitive_play' }">
            경쟁전적
          </button>
        </div>
      </div>
      <div class="row" style="height: 20px;"></div>
      <div class="row">
        <div class="column_12">
          <div class="checkbox">
            <input type="checkbox" ng-checked="settings.is_anonymous == 1" ng-click="settings.is_anonymous = settings.is_anonymous * -1">
            <div ng-click="settings.is_anonymous = settings.is_anonymous * -1">
              익명으로 채팅 및 동영상 포스팅
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
